--index-url https://pypi.tuna.tsinghua.edu.cn/simple
alabaster
altair
anaconda-client
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
atomicwrites
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blis
bokeh
boltons
Bottleneck
brotlipy
cachetools
catalogue
cffi
chardet
charset-normalizer
click
cloudpathlib
cloudpickle
clyent
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify
conda_package_streaming
confection
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cymem
cytoolz
daal4py
dask
datashader
datashape
DAWG2-Python
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docstring-to-markdown
docutils
entrypoints
et-xmlfile
exceptiongroup
executing
fastjsonschema
filelock
flake8
Flask
flit_core
fonttools
fsspec
future
gensim
gitdb
GitPython
glob2
greenlet
h11
h5py
HeapDict
holoviews
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
langcodes
language_data
lazy-object-proxy
libarchive-c
llvmlite
locket
lxml
lz4
marisa-trie
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service
mock
mpmath
msgpack
multipledispatch
munkres
murmurhash
mypy-extensions
narwhals
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl
outcome
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy
pep8
pexpect
pickleshare
Pillow
pkginfo
platformdirs
plotly
pluggy
ply
pooch
poyo
preshed
prometheus-client
prompt-toolkit
Protego
protobuf
psutil
ptyprocess
pure-eval
py
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyHamcrest
PyJWT
pylint
pylint-venv
pyls-spyder
pymorphy3
pymorphy3-dicts-ru
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5
PyQt5-sip
PyQtWebEngine
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
pytz
pyviz-comms
PyWavelets
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
regex
requests
requests-file
requests-toolbelt
rich
rope
Rtree
ru-core-news-lg
ru-core-news-sm
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scikit-learn-intelex
scipy
Scrapy
seaborn
selenium
Send2Trash
service-identity
shellingham
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
srsly
stack-data
statsmodels
streamlit
sympy
tables
tabulate
TBB
tblib
tenacity
terminado
text-unidecode
textdistance
thinc
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomli
tomlkit
toolz
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
Twisted
twisted-iocpsupport
typer
typing_extensions
ujson
Unidecode
urllib3
w3lib
wasabi
watchdog
wcwidth
weasel
webdriver-manager
webencodings
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wincertstore
wrapt
wsproto
xarray
yapf
zict
zipp
zope.interface
zstandard